@import url(./styles.css);

#top-bar label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0 4px;
  color: #000000aa;
  background: #fff;
}

#top-bar label img {
  width: 20px;
  height: 20px;
}

#top-bar input {
  width: 100%;
  border: none;
  padding: 0 10px;
  color: #000000aa;
}

#top-bar input::placeholder {
  color: #0000004f;
}

#top-bar input:focus {
  outline: 0;
  color: #000;
  background: #ffffffc5;
}

#progress-bar {
  width: 70vw;
  background-color: white;
  padding: 4px 0;
  margin: 0 2px;
  margin-top: 8px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
}

#progress-bar .progess-section {
  transform: translate(4px, 4px);
  text-decoration: none;
  color: #000;
  font-family: var(--font-family);
}

@keyframes appearBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#progress-bar .active::after {
  content: "";
  display: block;
  border-radius: 4px;
  height: 3px;
  background: red;
  animation: appearBorder 0.3s ease;
}

#progress-bar a {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 12px 8px;
  width: 70vw;
}

#menu section h1 {
  font-size: var(--header);
  font-family: var(--font-family);
  letter-spacing: 0.05em;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px 4px;
  padding: 8px;
  width: 60vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


.item-card {
  display: flex;
  min-width: 300px;
  height: 150px;
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.item-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: 600;
  font-size: .9em;
  color: #fff;
  background: #353333;
  border: none;
  box-shadow: var(--box-shadow-sm);
  border-radius: 4px;
  transition: background 0.3s ease;
}

.add-button:hover {
  cursor: pointer;
  background: #3b3a3ae0;
}

.item-img {
  min-width: 150px;
  max-width: 150px;
  object-fit: cover;
  object-position: center;
}

.item-card input {
  width: 40px;
  height: 20px;
  font-size: .8em;
  text-align: center;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.item-card > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
}

#toggle-button {
  position: fixed;
  right: 0px;
  z-index: 1;
  border-radius: 8px 0 0 8px;
  background: var(--secondary);
  width: 30px;
  height: 30px;
  transition: scale 0.2s ease-out;
}

#toggle-button:hover {
  cursor: pointer;
  scale: 1.05;
  filter: opacity(0.9);
}

.hide {
  transform: translate(100%, 0);
  transition: transform 0.2s ease-in;
}

.appear {
  transform: translate(0, 0);
  transition: transform 0.2s ease-in;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  position: sticky;
  top: 8px;
  right: 0;
  max-height: 80vh;
  min-width: 30vw;
  border: 2px solid var(--primary);
  border-radius: 12px;
  padding: 8px;
}

#cart > span {
  font-size: var(--text) 0.3em;
  font-weight: 600;
}

#cart-item-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  height: 50%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 8px;
  box-shadow: var(--box-shadow-sm);
  border: 2px solid #f0f0f0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: var(--box-shadow-sm);
  padding: 8px;
  min-width: 100%;
  max-height: 100px;
  border-radius: 8px;
  transition: filter 0.3s ease-in-out;
  position: relative;
}

.cart-item:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.cart-item div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  justify-content: space-between;
}

.cart-item img:nth-last-child(1) {
  object-fit: cover;
  object-position: center;
}

.cart-item .item-quantity {
  font-size: var(--text);
  font-weight: 600;
  color: #413f3f;
}

.cart-item .delete {
  position: absolute;
  bottom: 0; right: 0;
  width: 24px;
  height: 24px;
  background: rgb(78, 75, 75);
}

.cart-item .item-price {
  color: green;
  background-color: #4e49491b;
  text-align: center;
  font-weight: 600;
  width: fit-content;
  padding-inline: 4px;
  border-radius: 4px;
}

.cart-item img {
  max-width: 100px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}

#cart-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
}

#finish-button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  background: var(--secondary);
  color: white;
  border: none;
  box-shadow: var(--box-shadow-sm);
  font-size: var(--text);
  font-weight: 600;
  transition: filter 0.3s ease-in-out;
}

#finish-button:hover {
  cursor: pointer;
  filter: opacity(0.75);
}

thead th {
  text-align: left;
  font-weight: 800;
  font-size: var(--text);
}

.popup-painel-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-painel-content,
.popup-painel-back > .popup-painel-title {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.popup-painel-content {
  position: relative;
  width: 300px;
}

.popup-painel-title {
  display: block;
  font-size: 1.4em;
  font-weight: 600;
}

.popup-painel-text {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  margin: 8px 0;
}

.popup-painel-button {
  display: block;
  margin: 0 auto;
  min-width: fit-content;
  width: 50%;
  padding: 4px;
  font-size: 1em;
  font-weight: 600;
  background: #a3a0a0;
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  transition: border-radius 0.3s linear;
  transition: scale 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.popup-painel-button:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: #e0e0e0;
}

.popup-painel-button:active {
  scale: 0.95;
}

.popup-painel-imgExit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  color: #000;
  cursor: pointer;
  transition: scale 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 4px 0;
}

.form input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.promoted {
  color: red;
}