@import url(./styles.css);

body {
  min-height: 80vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

#login-form {
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
  width: 80%;
  height: 400px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

}

#login,
#register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: filter 350ms linear;
}

#login {
  border-right: 2px solid black;
}

#register {
  border-left: 2px solid black;
  filter: opacity(.4);
}
h2 {
  text-align: center;
  font-size: 1.9rem;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  #login h2 {
    font-size: 1.8rem;
  }
}

input,
button {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #000;
  width: 120%;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

input {
  font-size: 1em;
}

button {
  background: var(--secondary);
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition: filter .3s ease-in-out;
  transition: scale  .2s ease-in-out;
}

button:hover {
  filter: opacity(.8);
  cursor: pointer;
}

.scale {
  scale: 0.95;
}

#credentials,
#register-credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
  padding: 8px;
  height: 100%;
}

.others-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 8px;
}

.others-links a {
  text-decoration: none;
  font-size: 1.1em;
  color: #0f0f0fe1;
  transition: text-decoration .3s ease-in-out;
}

.others-links a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.black-div {
  position: absolute;
  right: 0;
  filter: opacity(0.8);
  background: radial-gradient(#c8c4c4, rgb(174, 171, 171));
  width: 50%;
  height: 100%;
  transition: transform .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: not-allowed;
  box-shadow: var(--box-shadow);
}

.hidden-black-div {
  transform: translate(-100%, 0);
}
